POSTGRES_DB=rag_admin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

ETCD_PORT=2379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MILVUS_PORT=19530
MILVUS_HEALTH_PORT=9091

OLLAMA_PORT=11434
